:root{
    --bg-btn-: #0161fe;
    --bg-descripion-: #b5d0e6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utilities */

.container{
    width: 60%;
    margin: auto;
}

.container_fluid{
    width: 100%;
    margin: auto;
}

.row{
    display: flex;
}

img{
    max-width: 100%;
}

/* #endregion Utilities */

/* #region Header */

header{
    width: 100%;
    background-color: white;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

header .row{
    justify-content: space-between;
}

.header_left,
.header_right{
    display: flex;
    align-items: center;
}

.logo{
    height: 1.2rem;
    margin-right: 1rem;
}

header a{
    padding: 0rem 1rem;
    color: black;
    text-decoration: none;
}

header .btn{
    background-color: var(--bg-btn-);
    color: white;
    padding: 0.3rem 1rem;
    border: 0;
}

/* #endregion Header */

/* #region Main */

main{
    padding-top: 4rem;
}

main .container_fluid{
    background-color: var(--bg-descripion-);
}

.description{
    padding-top: 3rem;
}

.description h1{
    font-size: 3rem;
}

.description img{
    height: 20rem;
    float: right;
}

.free_trial{
    padding-top: 2rem;
}

.free_trial p{
    font-size: 0.8rem;
}

main .btn{
    background-color: var(--bg-btn-);
    color: white;
    padding: 0.5rem;
    border: 0;
}

.free_trial .btn{
    margin: 1rem 0rem;
}

.free_trial i{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

/* #endregion Main */

