:root{
    --dropbox-blue-: #0161fe;
    --bg-descripion-: #b5d0e6;
    --card-border-: #dadada;
    --bg-designit-: #a2d39b;
    --border-designit-: #d1e8cc;
    --bg-uniarizona-: #61092a;
    --bg-topps-: #d5011e;
    --bg-uniflorida-: #0092cf;
    --bg-lonelyplanet-: #0d2481;
    --bg-clearchannel-: #fed930;
    --bg-designit-middle-: #f4f5f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/* #region Utilities */

.container-fluid{
    width: 100%;
    margin: auto;
}

.container-65{
    width: 65%;
    margin: auto;
}

.container-50{
    width: 50%;
    margin: auto;
}

.row{
    display: flex;
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-6{
    width: calc(100% / 12 * 6);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-12{
    width: calc(100% / 12 * 12);
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.padtop-2{
    padding-top: 2rem;
}

.padding-5{
    padding: 5rem 0rem;
}

.martop-2{
    margin-top: 2rem;
}

.marglr--1{
    margin: 0rem -1rem;
}

.borbot{
    display: inline-block;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--card-border-);
}

.justcon-spbtw{
    justify-content: space-between;
}

.justcon-end{
    display: flex;
    justify-content: flex-end;
}

.fl-wrap{
    display: flex;
    flex-wrap: wrap;
}

.buy_now{
    color: blue;
    text-decoration: underline;
}

/* #endregion Utilities */

/* #region Header */

header{
    width: 100%;
    background-color: white;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

header .row{
    justify-content: space-between;
}

.header_left,
.header_right{
    display: flex;
    align-items: center;
}

.logo{
    height: 1.2rem;
    margin-right: 1rem;
}

header a{
    padding: 0rem 1rem;
    color: black;
    text-decoration: none;
}

header .btn{
    background-color: var(--dropbox-blue-);
    color: white;
    padding: 0.3rem 1rem;
    border: 0;
}

/* #endregion Header */

/* #region Main */

main{
    padding-top: 4rem;
}

.description{
    background-color: var(--bg-descripion-);
    padding-top: 3rem;
}

.description h1{
    font-size: 46px;
    font-weight: 800;
}

.description img{
    height: 20rem;
    position: absolute;
    bottom: -3rem;
}

.description .btn{
    background-color: var(--dropbox-blue-);
    color: white;
    padding: 0.5rem;
    margin: 1rem 0rem;
    border: 0;
}

.free_trial i{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.free_trial .col-8{
    position: relative;
}

.plan{
    padding-top: 6rem;
}

.plan h2{
    font-size: 2rem;
    padding: 2rem 0rem;
}

.checkboxes{
    display: flex;
    align-items: center;
}

.checkboxes label{
    padding-left: 0.2rem;
}

.checkboxes input:last-of-type{
    margin-left: 2rem;
}

.plan .col-4{
    margin: 1rem;
 }

.type{
    text-align: center;
    padding: 0.5rem 0rem;
    border: 1px solid var(--card-border-);
    border-bottom: 0;
}

.card{
    border: 1px solid var(--card-border-);
    padding: 1rem;
    font-size: 0.8rem;
    /* height: 100%; */
}

.subscription h3{
    font-size: 1.3rem;
    padding: 0.5rem 0rem;
}

.price, .time{
    line-height: 1.5rem;
}

.price{
    font-weight: 700;
}

.time{
    color: #928d90;
}

.benefits{
    margin: 2rem 0rem;
}

.benefits .row,
.highlights .row{
    margin-top: 1rem;
}

.benefits i,
.highlights i{
    padding-right: 0.5rem;
}

.highlights h6{
    font-size: 0.8rem;
}

.highlights i{
    color: var(--dropbox-blue-);
}

.card .btn,
.card .btn-last{
    background-color: var(--dropbox-blue-);
    color: white;
    border: 0;
}

.card .btn{
    width: 100%;
    padding: 0.5rem;
}

.card .btn-last{
    height: 30%;
    padding: 0.5rem 1.5rem;
}

.partnership{
    margin: 7rem 0rem;
}

.partnership img{
    height: 25rem;
}

.partnership .row > div{
    padding: 2rem;
}

.partnership p{
    font-size: 0.8rem;
    padding: 1rem 0rem;
}

.partnership .btn{
    background-color: white;
    padding: 0.5rem 1rem;
    border: 1px solid black;
}

.operations .col-4{
    margin: 1rem;
}

.operations h2{
    font-size: 2rem;
    padding: 2rem 0rem;
}

.operations p{
    padding-top: 1.5rem;
    font-size: 0.8rem;
}

.logos{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos img{
    width: 50%;
 }

.designit{
    background-color: var(--bg-designit-);
    border: 1rem solid var(--border-designit-);
}

.uniarizona{
    background-color: var(--bg-uniarizona-);
}

.uniflorida{
    background-color: var(--bg-uniflorida-);
}

.topps{
    background-color: var(--bg-topps-);
}

.bicycle{
    background-color: var(--bg-topps-);
}

.hearst{
    background-color: var(--bg-descripion-);
}

.lonelyplanet{
    background-color: var(--bg-lonelyplanet-);
}

.clearchannel{
    background-color: var(--bg-clearchannel-);
}

.designit_middle{
    background-color: var(--bg-designit-middle-);
    padding: 2rem;
    font-size: 0.8rem;
}

.designit_middle img{
    width: 50%;
    padding-bottom: 2rem;
}

.designit_middle p{
    padding: 2rem 0rem;
}

.designit_border{
    width: calc((100% / 2) / 3);
    border: 1px solid var(--card-border-);
}

.teams .col-12{
    background-color: var(--bg-descripion-);
    padding: 7rem 0rem;
}

.teams h2{
    color: var(--bg-uniarizona-);
}

.teams .btn{
    background-color: white;
    padding: 0.5rem 2rem;
    border: 0;

}

.faq{
    padding: 7rem 0rem;
}

.faq .row{
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    border-bottom: 1px solid black;
    font-size: 0.8rem;
    font-weight: 700;
}

.faq h2{
    padding-bottom: 3rem;
    border-bottom: 1px solid black;
}

.faq i{
    margin-right: 1rem;
}

/* #endregion Main */


/*
TO DO...
Card in plan da mettere alla stessa altezza
Sistemare il css... è un casino
 */