:root{
    --bg-light-: #ffffff;
    --dropbox-blue-: #0161fe;
    --bg-jumbotron-: #b5d0e6;
    --card-border-: #c6c6c6;
    --bg-designit-: #a2d39b;
    --border-designit-: #d1e8cc;
    --bg-uniarizona-: #61092a;
    --bg-topps-: #d5011e;
    --bg-uniflorida-: #0092cf;
    --bg-lonelyplanet-: #0d2481;
    --bg-clearchannel-: #fed930;
    --bg-designit-middle-: #f4f5f4;
    --bg-footer-: #010001;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

h1{
    font-size: 4rem;
    font-weight: 800;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.3rem;
}

h6{
    font-size: 0.8rem;
}

/* #region Utilities */

.container-fluid{
    width: 100%;
    margin: auto;
}

.container-65{
    width: 65%;
    margin: auto;
}

.container-50{
    width: 50%;
    margin: auto;
}

.row{
    display: flex;
}

.col-2{
    width: calc(100% / 12 * 2.4);
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-5{
    width: calc(100% / 12 * 5);
}

.col-7{
    width: calc(100% / 12 * 7);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-12{
    width: calc(100% / 12 * 12);
}

.fl-wrap{
    display: flex;
    flex-wrap: wrap;
}

/* #endregion Utilities */

/* #region Header */

header{
    height: 8vh;
    width: 100%;
    background-color: var(--bg-light-);
    font-size: 0.8rem;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

header .row{
    justify-content: space-between;
}

.header_left,
.header_right{
    display: flex;
    align-items: center;
}

.logo{
    height: 1.2rem;
    margin-right: 1rem;
}

header a{
    padding: 0rem 1rem;
    color: black;
    text-decoration: none;
}

header .btn{
    background-color: var(--dropbox-blue-);
    color: white;
    padding: 0.3rem 1rem;
    border: 0;
}

/* #endregion Header */

/* #region Main */

main{
    padding-top: 8vh;
    font-size: 0.8rem;
}

/* jumbotron */

.jumbotron{
    background-color: var(--bg-jumbotron-);
}

.jumbotron h1{
    padding: 3rem 0rem;
}

.jumbotron .btn{
    background-color: var(--dropbox-blue-);
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 1.5rem 0rem;
    border: 0;
    display: inline-block;
}

.jumbotron i{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.jumbotron .col-8{
    position: relative;
}

.jumbotron img{
    position: absolute;
}

/* /jumbotron */

/* plan */

.plan{
    font-size: 0.8rem;
    margin: 7rem 0rem;
}

.plan h2{
    padding: 2rem 0rem;
}

.checkboxes{
    display: flex;
    align-items: center;
}

.checkboxes label{
    padding-left: 0.2rem;
}

.checkboxes input:last-of-type{
    margin-left: 2rem;
}

.vertical_plan{
    margin: 3.5rem -1rem;
    justify-content: space-between;
}

.vertical_plan .col-4{
    margin: 1rem;
}

.type{
    text-align: center;
    padding: 0.5rem 0rem;
    border: 1px solid var(--card-border-);
    border-bottom: 0;
}

.card{
    height: 100%;
    padding: 1rem;
    border: 1px solid var(--card-border-);
}

.subscription h3{
    padding: 0.5rem 0rem;
}

.price, .time{
    line-height: 1.5rem;
}

.price{
    font-weight: 700;
}

.time{
    color: var(--card-border-);
}

.benefits{
    margin: 2rem 0rem;
}

.highlights{
    margin-top: 2rem;
}

.benefits .row,
.highlights .row{
    margin-top: 1rem;
    align-items: baseline;
}

.benefits i,
.highlights i{
    padding-right: 0.3rem;
}

.highlights i{
    color: var(--dropbox-blue-);
}

.buy_now a{
    color: blue;
    text-decoration: underline;
}

.buy_now span{
    display: inline-block;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--card-border-);
}

.card .btn{
    background-color: var(--dropbox-blue-);
    color: white;
    text-align: center;
    text-decoration: none;
    border: 0;
    display: block;
}

.vertical_plan .btn{
    padding: 0.5rem;
    margin: 2rem 0rem;
}

.horizontal_plan .btn{
    height: 2.2rem;
    padding: 0.5rem 1.5rem;
}

.horizontal_plan .col-4{
    display: flex;
    justify-content: flex-end;
}

/* /plan */

/* partnership */

.partnership{
    margin: 7rem 0rem;
    padding-top: 2rem;
}

.partnership img{
    height: 25rem;
}

.partnership .row div{
    padding: 2rem;
}

.partnership p{
    padding: 1rem 0rem;
}

.partnership .btn{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    display: inline-block;
}

/* /partnership */

/* operations */

.operations .row{
    margin: 0rem -1rem;
}

.operations .row:last-of-type{
    padding: 5rem 0rem;
    margin: 0;
}

.operations .col-4{
    margin: 1rem;
}

.operations h2{
    padding: 2rem 0rem;
}

.operations p{
    padding-top: 1.5rem;
}

.operations a{
    color: blue;
    text-decoration: underline;
}

/* /operations */

/* logos */

.logos{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos img{
    width: 50%;
 }

.designit{
    background-color: var(--bg-designit-);
    border: 1rem solid var(--border-designit-);
}

.uniarizona{
    background-color: var(--bg-uniarizona-);
}

.uniflorida{
    background-color: var(--bg-uniflorida-);
}

.topps{
    background-color: var(--bg-topps-);
}

.bicycle{
    background-color: var(--bg-topps-);
}

.hearst{
    background-color: var(--bg-jumbotron-);
}

.lonelyplanet{
    background-color: var(--bg-lonelyplanet-);
}

.clearchannel{
    background-color: var(--bg-clearchannel-);
}

.designit_middle{
    background-color: var(--bg-designit-middle-);
    padding: 2rem;
}

.designit_middle img{
    width: 50%;
    padding-bottom: 2rem;
}

.designit_middle p{
    padding: 2rem 0rem;
}

.designit_border{
    width: calc((100% / 2) / 3);
    border: 1px solid var(--card-border-);
}

.teams .col-12{
    background-color: var(--bg-jumbotron-);
    padding: 7rem 0rem;
}

.teams .col-5{
    display: flex;
    justify-content: flex-end;
}

.teams h2{
    color: var(--bg-uniarizona-);
}

.teams .btn{
    height: 2.2rem;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border: 0;
    display: inline-block;
}

/* /teams */

/* faq */

.faq{
    padding: 7rem 0rem;
}

.question{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 2rem 0rem;
    border-bottom: 1px solid var(--card-border-);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq h2{
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--card-border-);
}

.faq i{
    margin-right: 1rem;
}

/* /faq */

/* #endregion Main */

/* #region Footer */

footer{
    background-color: var(--bg-footer-);
    color: white;
    font-size: 0.8rem;
}

.links{
    padding: 3rem 0rem;
}

.links h3{
    margin-bottom: 1rem;
}

.links li{
    list-style-type: none;
}

.links a{
    color: white;
    text-decoration: none;
    line-height: 2rem;
}

.language{
    padding: 2rem 0rem;
    color: var(--card-border-);
}

.language .row{
    align-items: flex-end;
}

.language span{
    padding: 0rem 0.5rem;
}

.footer_line{
    width: 10%;
    border-top: 1px solid var(--card-border-);
}

/* #endregion Footer */


